<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Login</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>
    <div id="app">
        <div>
            <h1>Login</h1>
            <form @submit.prevent="loginUser">
                <label>Username:</label>
                <input type="text" v-model="username" /><br><br>
                <label>Password:</label>
                <input type="password" v-model="password" /><br><br>
                <button type="submit">Login</button>
            </form>
            
            <p v-if="responseMessage">{{ responseMessage }}</p>
            <p v-if="tokens">{{ tokens }}</p>
        </div>
    </div>

    <div id="app2">
        <h2>JWT Token Protected Route</h2>
        <button @click="accessProtectedRoute">Access Protected API</button>
        <p v-if="message">{{ message }}</p>
      </div>



    <script>
        const { createApp } = Vue;
        createApp({
            data(){
                return{
                    message: ''
                };
            },methods:{

        accessProtectedRoute() {
        const token = localStorage.getItem('jwtToken'); // or sessionStorage.getItem('jwtToken')

        if (!token) {
          this.message = "Token not found. Please login first.";
          return;
        }

        axios.get('http://localhost:8000/protected', { // Change URL if needed
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then(response => {
          this.message = response.data.message + ' | User: ' + response.data.user;
        })
        .catch(error => {
          this.message = 'Access denied: ' + (error.response?.data?.detail || error.message);
        });
      }

            }
        }).mount("#app2");

        createApp({
            data() {
                return {
                    username: '',
                    password: '',
                    responseMessage: '',
                    tokens:''
                };
            },
            methods: {

                async loginUser() {
                    try {
                        const response = await axios.post('http://127.0.0.1:8000/developer_auth', {
                            username: this.username,
                            password: this.password
                        });

                        this.responseMessage = response.data.message;
                        this.tokens = response.data.token;
                        localStorage.setItem('jwtToken', this.tokens);
                        window.location.href = 'main.html';

                    } catch (error) {
                        if (error.response) {
                            this.responseMessage = error.response.data.detail || 'An error occurred';
                        } else {
                            this.responseMessage = 'Unable to connect to the server';
                        }
                    }
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
